<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>订单详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- jquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/detail.css"/>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" src="/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/jquery-validation/localization/messages_zh.min.js"></script>
    <!-- layer -->
    <script type="text/javascript" src="/layer/layer.js"></script>
    <!-- md5.js -->
    <script type="text/javascript" src="/js/md5.min.js"></script>
    <!-- common.js -->
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>

<div class="top">
    <h4 style="text-align: center">订单详情页</h4>
</div>
<div class="goods">
    <div class="containers">
        <div class="goods_view">
            <img  id="goodsImg" height="560"  width="560" th:src="${orderInfo.goodsImg}"/>
        </div>
        <div class="goods_info">
            <h2 id="goodsName"></h2>
            <p class="title" th:text="${orderInfo.goodsName}"></p>
            <p>
                <span  class="price1"  id="orderPrice" th:text="${orderInfo.realPrice}"></span>
            </p>
            <div class="seckill_data">
                <div>
                    <span>下单时间</span>
                    <p id="createDate" th:text="${#dates.format(orderInfo.createDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
                </div>
                <div>
                    <span>订单状态</span>
                    <p  th:if="${orderInfo.status} eq 0">未支付</p>
                    <p  th:if="${orderInfo.status} eq 1">已支付</p>
                </div>
            </div>
            <div class="count">
                <span>收货人：</span>
                <span>XXX  1383838483</span>
            </div>
            <div class="count">
                <span>收货地址：</span>
                <span>北京市昌平区回龙观龙博一区</span>
            </div>


            <form id="form" th:action="@{/myPay/payOrder/}+${orderInfo.id}" method="post" >
                <input type="hidden" name="tradeNo" th:value="${orderInfo.id}" id="orderId"/>
                <input type="hidden" name="amount" th:value="${orderInfo.goodsPrice}" id="amount"/>
                <input type="hidden" name="name" th:value="${orderInfo.goodsName}" id="name"/>
                <input type="hidden" name="desc" th:value="${orderInfo.goodsDetail}" id="desc"/>
                <button class="btn btn-primary btn-block" type="button"  onclick="pay()" th:if="${orderInfo.status} eq 0">立即支付</button>
                <button class="btn btn-primary btn-block" type="button"  onclick="repay()" th:if="${orderInfo.status} eq 1">立即支付</button>
            </form>

        </div>
    </div>
</div>
</body>
<script>
    function pay() {
        g_showLoading();
        var orderId = $("#orderId").val();
        layer.confirm("确定支付？", {btn: ["确定", "取消"]},
            function () {
                document.getElementById( "form" ).submit();
            },
            function () {
                layer.closeAll();
            });
    }

    function repay() {
        g_showLoading();
        layer.msg('请勿重新支付');
    }
</script>
</html>
